# C++ project
language: cpp
sudo: required
jobs:
  include:
    - os: linux
      dist: xenial
    - os: osx
      osx_image: xcode11
before_install:
  - chmod +x travis_install_dependency.sh
install:
  - ./travis_install_dependency.sh
script:
  - mkdir -p build
  - cd build
  - cmake ..
  - make -j 4
  - make install
  - fmm
  - stmatch
  - ubodt_gen
  - cd ../example/python
  - python fmm_test.py
branches:
  only:
  - master
  - osm
